
#This file defines what should be ignored in git

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# ignore ALL vs code debug files
**/.vscode

#ignore the pytest cache
**/.pytest_cache

#ignore the build folder
**/build

# ignore all logging files
*.log

# Ignore egg-info folder
*.egg-info